@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body {
  height: 100%;
}
::-webkit-scrollbar{
  display: none;
}
#root {
  width: 100vw;
  height: 100%;
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

li, ul{
  list-style-type: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



@layer components {
input , textarea {
  @apply border-russian-blue p-2 text-base w-full border-2 text-gray-500 rounded-md h-10 box-border outline-none
}
button, button[type="submit"] {
  @apply h-10 border-russian-blue p-2 text-base border-2 rounded-md text-white bg-russian-blue box-border uppercase
}
h1, h2, h3{
  @apply text-sea-kelp
}
p{
  @apply text-sea-kelp
}
a{
  @apply  text-sea-kelp hover:[text-shadow:_0_1px_0_rgb(154_174_187/0.4)]
}
a > .icon {
  @apply  hover:[filter:drop-shadow(3px_5px_2px_rgb(154_174_187/_0.4))]
}
.active {
  @apply [text-shadow:_1px_1px_0_rgb(154_174_187_/_50%)]
}
.active:after{
  content: '.';
  @apply w-0 inline-block
}





.timeline{
  --timeline-width: 2px;
  --content-padding-x: 48px;
  --arrow-top-correction: 28px;
  --circle-w: 40px;
  --icon-w: 28px;
  --circle-border: 2px;
  --circle-right-correction: calc(((var(--circle-w) + var(--circle-border))/2) ) ;
  --right-correction: calc(var(--timeline-width) + var(--circle-border));
  --circle-top-correction: calc(var(--arrow-top-correction) + (var(--circle-w)/2));
  @apply relative flex flex-col w-full justify-center gap-6
}
.timeline::after {
  border: var(--timeline-width) solid transparent;
  border-bottom: none ;
  border-left: none;
  border-top: none;
  @apply  content-[''] absolute w-1/2 -mr-[1px] -top-0 bottom-0 right-1/2 border-russian-blue
}

/* Container around content */
.timeline-container {
  @apply relative w-1/2 flex px-[var(--content-padding-x)]
}

.timeline-icon{
  /* top: var(--arrow-top-correction); */
  @apply absolute z-20 shadow-lg

}
.timeline-icon--right{
  transform: translate(-50%);
  left: 0;
}
.timeline-icon--left{
  transform: translate(50%);
  right: 0;

}
.timeline-container--left {
  @apply justify-end
}

/* Place the container to the right */
.timeline-container--right {
  @apply left-1/2
}
/* Fix the circle for containers on the right side */
.timeline-container--right::after {
  transform: translateX(-50%);
  left: 0;
}

.timeline-container--left:after{
  transform: translateX(50%);
  right: 0;
}
/* Add arrows to the left container (pointing right) */
.border-arrow{
  @apply content-[''] absolute z-10  w-5 aspect-square border-2 border-russian-blue rotate-45 bg-white ;

}
.border-arrow--left::before {
  @apply border-arrow border-b-0 border-l-0 -right-[12px] top-[var(--arrow-top-correction)];
   
}
/* Add arrows to the right container (pointing left) */
.border-arrow--right::before {
  left: -12px;
  @apply border-arrow border-t-0 border-r-0 top-[var(--arrow-top-correction)];
}
.border-arrow--bottom::before {
  left: 50%;
  bottom: -7px;
  transform-origin: 0 0;
  transform: translate(-100%, 50%) rotate(45deg) translate(100%, -50%);
  @apply border-arrow border-t-0 border-l-0;
}
}

