@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@200;300;400;500;600;700;800;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body {
  height: 100%;
}
#root {
  width: 100vw;
  height: 100%;
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

li, ul{
  list-style-type: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



@layer components {
input , textarea {
  @apply border-teal p-2 text-base w-full border-2 text-gray-500 rounded-md h-10 box-border outline-none
}
button, button[type="submit"] {
  @apply h-10 border-teal p-2 text-base border-2 rounded-md text-white bg-teal box-border uppercase
}
.timeline{
  --timeline-width: 2px;
  --timeline-padding-top: 64px;
  --content-padding-y: 10px;
  --content-padding-x: 40px;
  --arrow-top-correction: 28px;
  --circle-w: 40px;
  --icon-w: 28px;
  --circle-border: 2px;
  --circle-right-correction: calc(((var(--circle-w) + var(--circle-border))/2) ) ;
  --circle-left-correction: calc(((var(--circle-w) - var(--circle-border))/2) ) ;
  --right-correction: calc(var(--timeline-width) + var(--circle-border));
  --circle-top-correction: calc(var(--arrow-top-correction));
  --icon-top-correction: calc(var(--arrow-top-correction) + ((var(--circle-w) - var(--icon-w))/2));
  --icon-right-correction: calc(var(--circle-right-correction) - ((var(--circle-w) - var(--icon-w))/2));
  @apply relative flex flex-col w-full justify-center pt-[var(--timeline-padding-top)]
}
.timeline::after {
  --angle: 0deg;
  border: var(--timeline-width) solid transparent;
  border-bottom: none ;
  border-left: none;
border-top: none;
  @apply  content-[''] absolute w-1/2  -top-0 bottom-0 right-1/2 -mr-1 border-teal
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}


/* Container around content */
.timeline-container {
  @apply relative w-1/2 flex py-[var(--content-padding-y)] px-[var(--content-padding-x)]
}

/* The circles on the timeline */
.timeline-container::after {
  border-width: var(--circle-border);
  @apply content-['']	absolute rounded-full z-10 w-[var(--circle-w)] -right-[var(--circle-right-correction)] top-[var(--circle-top-correction)] aspect-square bg-white border-teal 
}
.timeline-icon{
  @apply absolute z-20 top-[var(--icon-top-correction)] 

}
.timeline-icon--right{
    @apply -left-[var(--icon-right-correction)] 
}
.timeline-icon--left{
  @apply -right-[var(--icon-right-correction)] 

}
.timeline-container--left {
  @apply justify-end
}

/* Place the container to the right */
.timeline-container--right {
  @apply left-1/2
}
/* Fix the circle for containers on the right side */
.timeline-container--right::after {
  @apply -left-[var(--circle-right-correction)]
}
.timeline-container--left:after{
  @apply -right-[var(--circle-left-correction)]
}
/* Add arrows to the left container (pointing right) */
.border-arrow{
  @apply content-[''] absolute z-10  w-5 aspect-square border-2 border-teal  rotate-45 bg-white top-[var(--arrow-top-correction)];

}
.border-arrow--left::before {
  @apply border-arrow border-b-0 border-l-0 -right-[12px];
   
}
/* Add arrows to the right container (pointing left) */
.border-arrow--right::before {
  left: -12px;
  @apply border-arrow border-t-0 border-r-0;

}
.timeline-pictures{
  @apply relative flex basis-1/2 py-[var(--content-padding-y)] px-[var(--content-padding-x)]
}
.timeline-pictures--right{
  @apply left-1/2
   
}
.timeline-pictures--left{
@apply justify-end
}
}



